@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/raleway/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/raleway/Raleway-Black.ttf);
    font-weight: 900;
}